*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.bg>header{
    background-color: rgba(12, 50, 90, 1);
}

header{
    height: 550px;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
    position: relative;

}

main{
    height: 1400px;
}

footer{
    height: 200px;
    background-color:rgba(211, 211, 211, 1) ;
}
/*****************
 nav 
 *****************/
.menu{
    height: 60px;
    width: 90%;
    margin: auto;
}

.nvg{  
    height: 100%;
    width: 100%;  
    display: inline-block;
    margin: 20px 10px ;
    line-height: 60px;
}

.logo{
    width: 10%;
}

.sinistro{
    width: 45%;
}

.destro{
    width: 45%;
    text-align: right;
}

.logo, .sinistro, .destro{
    float: left;
}

ul>li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

header a{
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    text-transform:uppercase ;
}

.bot{
    padding: 10px 15px;
    border-radius: 5px;
}

.log{
    border: 2px solid white;
    padding: 10px 20px;
    margin-right: 15px;
}

.str{
    background-color:rgba(124, 187, 2, 1) ;
}

.log:hover{
    color:rgba(124, 187, 2, 1) ;
    font-size: 15px;
    border:1px solid rgba(124, 187, 2, 1) ;
}

.str:hover{
    border: 2px solid green;
    background-color:rgba(125, 187, 2, 0.39);
}

.big{
    padding: 20px 30px;
    margin-top: 20px;
}

/************* 
/nav
*************/

.titolo{
    height: 200px;
    width: 700px;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

h1{
    color: white;
    margin-bottom: 50px;
    font-size: 3rem;

}

 /*************
  intro
**************/

.intro{
    height: 150px;
    text-align: center;
    background-color: rgba(211, 211, 211, 1);    

}

h2{
    padding: 40px 0px 20px 0px;
}

p{
    color: rgba(128, 128, 128, 1); 
    font-weight: 600; 
    line-height: 25px; 
}

/* ************
/intro
*************** */
.container{
    height: 650px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.section_left, .section_contain, .section_right{
    height: 50%;
    display: inline-block;
    width: calc(100% / 3 - 3px);
    position: relative; 
    float: left;   
}

.figure{
    width: 330px;
    height: 230px;
    position: absolute;
    top: 50px;
    left: 120px;
} 

.section_left > .figure{
    background-image: url(../img/profile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.section_contain > .figure{
    background-image: url(../img/computer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section_right > .figure{
    background-image: url(../img/doc.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tratto{
    width: 70px;
    height: 1px;
    border: 1px solid rgba(128, 128, 128, 1);
    margin: auto;
}

.description > h2{
    color:rgba(124, 187, 2, 1);
    font-size: 40px;
    margin: 280px 20px 10px 20px;
    text-align: center;

}

.description> p{
    margin: 30px;
    text-align: center;
}

hr{
    width: 95%;
    margin: auto;
}

.bott{
    width: 100%;
    height: 600px;
    position: relative;
}

.bott_left{
    width: 50%;
    height: 80%;
    display: inline-block;
}

.mont{
    width: 100%;
    height: 100%;
    background-image: url(../img/mountain.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px 100px 50px 300px;
}

.bott_right{
    width: 45%;
    padding: 50px 250px 0px 50px;
    display: inline-block;
    text-align: left;
    vertical-align: auto;
    position: absolute;
    top: 0px;
}

.bott_right > h2{
    font-size: 40px;
}

footer > h2{
    font-size: 40px;
    line-height: 100px;
    width: 50%;
    text-align: center;

}







